.chatbot-widget {
    width: 90%;
    height: 90%;
    border: 1px solid #ddd;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    font-family: 'Host Grotesk', sans-serif;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 10px;
}

.chat-message {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.user-message .message-text {
    background-color: #d0eaff;
    margin-left: auto;
    padding: 10px;
}

.ai-message .message-text {
    /*background-color: #efefef;*/
}

.message-text {
    /*max-width: 85%;*/
    padding: 10px;
    border-radius: 10px;
}