/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@400;700&display=swap');

/* General container */
.stock-chart-container {
  font-family: 'Host Grotesk', sans-serif;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #ddd;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

/* Title and price section */
.title-price-section {
  margin-bottom: 1.5rem;
}

.title-price-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.title-price-section .price {
  font-size: 1.25rem;
}

.title-price-section .price-change {
  font-size: 0.875rem;
}

.price-change-positive {
  color: green;
}

.price-change-negative {
  color: red;
}

/* Timeframe buttons */
.timeframe-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.timeframe-buttons button {
  margin-top: -0rem;
  background-color: transparent;
  border: none;
  color: #5d5d5d;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.timeframe-buttons button:hover {
  color: #47b611;
}

.timeframe-buttons button.selected {
  color: #47b611;
  font-weight: bold;
}

.timeframe-buttons button.selected::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #47b611;
  border-radius: 2px;
}

/* Chart container */
.chart-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stock key metrics grid */
.key-metrics {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.key-metrics .metric {
  font-size: 0.875rem;
}

.key-metrics .metric .label {
  color: #6b7280;
  text-transform: capitalize;
}

.key-metrics .metric .value {
  font-weight: 500;
}

