/* Import the Host Grotesk font */
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@400;700&display=swap');

.app-container {
  display: flex;
  height: 100vh;
  padding: 0px;
}

.left-column {
  width: 40%;
  background-color: #f0f0f0;
  /*padding: 20px;*/
}

.right-column {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}